html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}


.parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: dodgerblue;
    overflow: auto;
}

.child1 {
    background: pink;
    height: 300px;
}

.child2 {
    background: red;
    height: 400px;
}