
body {
    margin: 0;
}

.grandparent {
    height: 100vh;
    position: relative;

}

.parent {
    /*position: relative;*/
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    /*height: 100%;*/
    background: dodgerblue;
    overflow: auto;
}

.child1 {
    background: pink;
    height: 300px;
}

.child2 {
    background: red;
    height: 400px;
}